gen/
*.idea
*.pyc
*.project
FrankensteinForAndroid/bin/
FrankensteinForAndroid/gen/
frankenstein_mobile/db.sqlite3
Frankenstein_admin/admin_page/node_modules/
Frankenstein_admin/admin_page/bin/
Frankenstein_admin/admin_page/data/

