body, html {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    font-family: 'IM Fell DW Pica', serif;
    color: green;
}
h1 { font-size: 3em !important; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }


#wrapper {
    padding-left: 250;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

.search-panel {
    float: left;
    height: 50%;
    width: 100%;
    margin: 0;
    padding-left: 50px;
    /*padding: 50px;*/
    white-space: normal;
}

.result-panel {
    float: left;
    height: 50%;
    width: 100%;
    margin: auto;
    padding-left: 50px;
    padding-top: 10px;
    border-top: 1px solid gray;
}



/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'IM Fell DW Pica', serif;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 22px;
    line-height: 60px;
    color: #fff;

}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
    }


    /*#page-content-wrapper {
        padding: 20px;
    }*/

}