<!-- Search for the stage by location name. The page sends the results to the results_stage page. -->

{% extends "frankenstein_mobile/base.html" %}
{% block content %}
{% load static %}

<div class="container">
	
	<form role="form" action="results_stage/">
		<div class="form-group">
			<select class="form-control" name="stage" onchange="disableButton()">
				<option selected="selected" disabled="disabled" id="helpertext">Choose one of the following...</option>
				{% for stage in stage_list %}
				<option>{{ stage.stage_location }}</option>
				{% endfor %}
				
			</select>
		</div>
		<button type="submit" class="btn btn-default" id="sub" disabled>Search</button>
	</form>

</div>

<script type="text/javascript">
	function disableButton()
	{
	  button = document.getElementById("sub");
	  button.disabled = false;
	}
</script>

{% endblock %}