<!-- Search for the performances by a specific time. The page sends the results to the results_time page. -->

{% extends "frankenstein_mobile/base.html" %}
{% block content %}
{% load static %}

<div class="container">

	<h1>Search By <b>Specific Time</b></h1>
	<form role="form" action="results_time/">
		<div class="form-group">
			<input type="date" class="form-control" name="performance_start_time" placeholder="Specific Time" 
			value="2015-04-22" step="1">
		</div>
		<button type="submit" class="btn btn-default">Search</button>
	</form>

</div>

<!-- 2014-10-09T
	15%3A
	00%3A
	43 -->
{% endblock %}