extends layout

block content
	#page-content-wrapper
		.container-fluid.search-panel
			.row
				.col-lg-12
					h1 Frankenstein
					hr
					p Choose which field you want to update or add on the left
