doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		link(href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css')
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet")
		
		link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")

	body
		#wrapper
			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand 
						p Insert/Update...
					li
						a(href='/updateActor/') Actor
					li
						a(href='/updateCrew/') Crew
					li
						a(href='/updateStage/') Stage
					li
						a(href='/updateEvent/') Significant Plot Events
					li
						a(href='/updatePerf/') Performances
					li 
						button.btn.btn-danger(type='button') Finish
		
			block content
