extends layout

block content
	//- script(type='text/javascript' src="/javascripts/mainScript.js")
	#page-content-wrapper
		.container-fluid.search-panel(ng-app)
			.row
				.col-lg-12
					h1 Frankenstein
					hr
					form.form(role='form')
						select.form-control
							option hello
							option good bye
						br
						button(type="submit").btn.btn-primary Submit
		.container-fluid.result-panel
			.row
				.col-lg-12
					form.form#post-form(role='form', action='/add_actor', method='POST')
						.form-control
							label(for="name") Actor's Name
							input(type="text" placeholder="Name" id="name" name="actor_name")
						.form-control
							label(for="bio") Actor's Bio
							textarea(row="4" id="bio" placeholder="Bio" name="actor_bio")
						button(type="submit").btn.btn-primary Submit